{% include "layout.html" %}

{% block body %}
    <div class="aboutContainer">
        <div class="inspiration">
            <p><h2> Description of Inspiration</h2></p>
            <span>The genesis of this project sprouted from my unbridled fascination with the intersection of technology and human creativity. 
                As I delved into the realms of coding, an insatiable curiosity ignited within me, birthing the desire to craft something uniquely mine. 
                The timeline reads like a journey, each line of code echoing the lessons learned, frustrations conquered, and triumphs celebrated. 
                This endeavor isn't a mere academic obligation but a manifestation of my passion for innovation.
                It's a testament to the joy found in solving complex puzzles and the thrill of seeing ideas materialize into functional creations</span>
        </div>
        <div class="teamMembers">
            <p>LinkedIn Profiles</p>
            <p> <a  href="//www.linkedin.com/in/chinedu-anulugwo-a64902253">Chinedu Anulugwo</a></p>
            <p> <a href="//linkedin.com/in/danieljonesobot"> Daniel Jones Obot</a></p>
        </div>
    </div>
{% endblock %}