<!-- This will be the private chat area -->

{% extends "layout.html" %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>

<div id="messages">

</div>
<input type="text" id="message">
<input type="submit" id="submit" value="Send">

<script>
    window.onload = () => {
        var socket = io.connect('http://' + document.domain + ':' + location.port )
        var submit = document.getElementById("submit")

        socket.emit("joinRoom",{ "username": "{{username}}", "channelName":"{{roomUserId}}"} )
        submit.addEventListener("click", function(){
            let message = document.getElementById("message").value;
            console.log("submit button clicked")
            socket.emit("message", {"channelName": "{{roomUserId}}", "message": message} );
        })
        socket.on("messageSendBack", function(data){
            document.getElementById("messages").innerHTML = data["username"]+":" + data["message"]
        })
    }
</script>

{% endblock %}