{% extends 'layout.html' %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>
    {% if current_user %}
        <p>
            <span>Username: </span>
            <span>{{authUser.username}}</span>
        </p>
        <div id="messages">

        </div>
            <input type="hidden" id="username" value="{{authUser.username}}">
            <input id="message" type="text">
            <input id="submit" type="submit" value="send">

        <script type="text/JavaScript">
            var socket = io.connect('http://' + document.domain + ':' + location.port)
            var submit = document.getElementById("submit")

            submit.addEventListener("click", function(){
                let message = document.getElementById("message").value;
                console.log("submit button clicked")
                socket.emit("message", message);
            })
            socket.on("messageSendBack", function(data){
                document.getElementById("messages").innerHTML = data["username"]+":" + data["message"]
            })
        </script>
    {% endif %}
{% endblock %}