<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {{ form.csrf_token }}

        <label for="Username"> Username </label>
        {{ form.Username.label }}
        {{ form.Username }}

        <label for="Password"> Password </label>
        {{ form.Password.label }}
        {{ form.Password}}

        <label for="ConfirmPassword"> Confirm Password </label>
        {{ form.ConfirmPassword.label}}
        {{ form.ConfirmPassword}}

        {{form.Submit}}
    </form>
</body>
</html>